@font-face {
    font-family: EIGHTBITWONDER;
    src: url('../fonts/8-BIT WONDER.TTF');
}

@font-face {
    font-family: slkscr;
    src: url('../fonts/slkscr.ttf');
}
:root {
    --full: calc(100vh - 1rem);
    --gray: rgb(178, 190, 186);
    --wideBorder: 3px;
    --medBorder: 2px;
    --thinBorder: 1px;
    --widePadding: 6px;
    --medPadding: 4px;
    --thinPadding: 2px;
    --wideBorderRadius: 30px;
    --medBorderRadius: 15px;
    --thinBorderRadius: 5px;
}
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.css-preview-container {
    height: 50px;
}
div.app-container {
    /* background-image: url("../pngs/_dragons-logo-green-2017-1280.jpg");
    background-size: 300%;
    background-position: center center; */
    font-family: slkscr;
    color: black;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: hidden;
    /* padding-bottom:8px;
    padding-left:8px;
    padding-right:8px;
    padding-top:8px; */
    -webkit-box-pack: center;
}
div.layer--main-elements {
    padding: 0;
}
div.card-element--container {
    height: 100%;
}
#demo-app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.break-words {
    word-break: break-word;
}
#demo-app {
    background-color: black;
}

.jagged-border {
    border-color: black;
    border-style: solid;
    border-width: 0.125em 0;
    margin: 0 0.25em;
    padding: 0.5em 0.375em;
    position: relative;
    z-index: 1;
}
.jagged-border:before {
    background-color: inherit;
    border: inherit;
    border-width: 0 0.125em;
    bottom: 0.125em;
    content: '';
    left: -0.25em;
    pointer-events: none;
    position: absolute;
    top: 0.125em;
    right: -0.25em;
    z-index: -1;
}

.jagged-border:after {
    border: inherit;
    border-width: 0 0.125em;
    bottom: 0;
    content: '';
    left: -0.125em;
    position: absolute;
    top: 0;
    right: -0.125em;
    z-index: -2;
}
.centered-frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /* background-color: gray; */
}
#score {
    justify-self: start;
}
.pixelated {
    image-rendering: pixelated;
}
.centered-guy {
    flex-grow: 1;
    flex-basis: auto;
    height: auto;
    padding: 25%;
    width: 100%;
    height: 100%;
}

.centered-guy:before {
    content: '';
    padding-top: 100%;
}
.inset-screen {
    /* width: 50%; */
    height: 100%;
    /* background-color: gray; */
    background-image: url('../pngs/argyle-bg.png');
    background-size: cover;
    flex-basis: 80%;
    position: relative;
    border-radius: var(--wideBorderRadius);
    border: black solid var(--medBorder);
    padding: var(--medPadding);
}

#tama-buttons {
    flex-basis: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.tama-button {
    /* flex-basis: 20%; */
    /* height: 30px;
    max-width: 40px; */
}
#center-button {
    position: relative;
    /* top: 20px;
    max-width: 50px;
    flex-basis: 23%; */
}
#left-button {
    position: relative;
    top: 0px;
}
#right-button {
    position: relative;
    top: 0px;
}
.three-button {
    border-radius: 50%;
    background-color: green;
    border: black solid var(--thinBorder);
    outline: 0;
    box-shadow: 0px var(--thinBorder) 0px 0px rgba(0, 0, 0, 1);
}
.pressed-button {
    animation-name: press;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-direction: normal;
}
.pressed-center {    
    animation-name: press-center;
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-direction: normal;
}
@keyframes press-center {
    from {
        top: var(--center-button-top);
        box-shadow: 0px var(--thinBorder) 0px 0px rgba(0, 0, 0, 1);
    }
    to {
        top: var(--center-button-pressed-top);
        box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 1);
    }
}
@keyframes press {
    from {
        top: 0;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.40);
    }
    to {
        top: 2px;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.40);

    }
}
.three-button:focus {
    outline: 0;
}

.vert-flex-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.horiz-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.tama-logic-vert-flex-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.tama-logic-horiz-flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#tama-logic {
    height: 100%;
    width: 100%;
}
#tama-home {
    height: 100%;
    width: 100%;
}
#logic-three-buttons {
    margin-top: 20px;
    height: 20%;
}
.box {
    margin: 25px;
    width: 250px;
    height: 250px;
    border: solid black;
    border-color: black;
    /* float:left;  */
}

.box1 {
    /* border-width: 3px 4px 3px 5px;
    border-radius:95% 4% 92% 5%/4% 95% 6% 95%; */
    /* transform: rotate(2deg); */
}
.lvl1 {
    box-shadow: 16px 0 gray, -16px 0 gray, 0 -16px gray, 0 16px gray,
        4px 0 0 8px gray, -4px 0 0 8px gray, 0 -4px 0 8px gray, 0 4px 0 8px gray,
        20px 0 black, -20px 0 black, 0 -20px black, 0 20px black,
        0 0 0 12px black, 0 8px 0 8px black, 0 -8px 0 8px black,
        8px 0 0 8px black, -8px 0 0 8px black;
    /* margin: 20px auto; */
}
.spinning-clockwise {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
}
.zoom-animation {
    animation: zoom-anim 2s infinite linear;
}

@keyframes zoom-anim {
    0%,
    100% {
        transform: scale(0.75) rotate(-10deg);
    }
    50% {
        transform: scale(1) rotate(10deg);
    }
}
#middle-flex-area {
    display: flex;
    flex-direction: column;
}
#egg-icon-img {
    bottom: 0;
}
.egg-wiggle {
    animation-name: egg-wiggle;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 6s;
    /* animation: egg-wiggle 2s 2s infinite; */
}
@keyframes egg-wiggle {
    0%,
    100% {
    }
    5% {
        bottom: 10px;
        transform: rotate(-10deg);
    }
    10% {
        bottom: 10px;
        transform: rotate(10deg);
    }
    13% {
        bottom: 10px;
        transform: rotate(-8deg);
    }
    16% {
        bottom: 10px;
        transform: rotate(8deg);
    }
    25% {
        transform: rotate(0deg);
    }
}
.stats-img-container {
    position: relative;
    display: inline-block;
    height: 100%;
}
.stats-img {
    min-height: 0;
    height: 100%;
    padding: 1px;
}
#stats-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.stat-container {
    height: 100%;
    flex: 1 1 10%;
    min-height: 0;
    display: flex;
    flex-direction: column;
}
.stat-label-div {
    min-height: 0;
}
.stats-icon-div {
    align-self: center;
    width: 65%;
    flex: 1 1 60%;
    min-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#score-trans-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
#score-trans-icon-pair-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
}
#score-trans-icon-container {
    width: 40%;
}
#score-trans-icon-img {
    width: 100%;
}
/* .score-text {
    font-size: 16px;
} */
#socialize-score-span {
    flex: 1 1 5%;
    min-height: 0;
}
#socialize-prompt-span {
    flex: 1 1 5%;
    min-height: 0;
}

#grave-screen {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#grave-img-container {
    width: 80%;
    height: 55%;
    position: relative;
}

#grave-img {
    height: 100%;
    width: 100%;
    position: absolute;
}
#rip-div {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mirror-img {
    transform: scaleX(-1);
}
#canvas-images {
    display: none;
}
.margin-centered {
    margin-left: auto;
    margin-right: auto;
}
#outer-frame {
    image-rendering: smooth;
    background-color: gray;
}
#bg-canvas {
    background-color: white;
    /* box-shadow: -5px 5px 2px 0px rgba(0, 0, 0, 0.40);
    border: solid black var(--medBorder);
    border-radius: var(--wideBorderRadius); */
}
.lead-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
#socialize-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
#lift-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
#canvas-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.button-unit-container {

}
.button-label {
    border: var(--thinBorder) solid black;
    border-radius: var(--thinBorderRadius);
    background-color: var(--gray);

}
#center-label {
    position: relative;
}
.button-label-text {
}