<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.prepagotchi" version="1.0.19" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Prepagotchi</name>
    <description>
        Prepagotchi
    </description>
    <author email="info@brakli.com" href="http://brakli.com/">
        BRAKLI
    </author>
    <preference name="android-targetSdkVersion" value="28" />
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="19" />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name="orientation" value="portrait" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <platform name="android">
    </platform>
    <platform name="ios">
        <config-file mode="replace" parent="NSBluetoothPeripheralUsageDescription" platform="ios" target="*-Info.plist">
            <string>Train your prepagotchi</string>
        </config-file>
    </platform>
    <preference name="phonegap-version" value="cli-7.1.0" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="browser" spec="^6.0.0" />
    <engine name="android" spec="^8.1.0" />
    <plugin name="cordova-plugin-nativeaudio" spec="~3.0.9" />
    <plugin name="cordova-plugin-device" spec="~1.1.6" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.3" />
    <plugin name="cordova-plugin-file" spec="~6.0.0" />
</widget>
