<html>
    <head>
        <script src="https://unpkg.com/merge-images"></script>
        <script>
            const images = [
                '45-profile',
                'basketball32',
                'check-finish',
                'cloud-0',
                'dip-0',
                'dumbbell-icon',
                'egg-0',
                'egg-1',
                'egg-2',
                'egg-3',
                'frontal-base',
                'grave',
                'hatching-0',
                'hatching-1',
                'hatching-2',
                'hatching-3',
                'high-five-high',
                'high-five-left',
                'high-five-low',
                'high-five-right',
                'hoop-icon',
                'lead-icon',
                'left-curl-0',
                'left-curl-1',
                'lift-icon',
                'powersns-icon',
                'psns-0',
                'psns-1',
                'psns-2',
                'psns-3',
                'pullup-0',
                'right-curl-0',
                'right-curl-1',
                'socialize-icon',
                'steak-icon'
            ]
            let rands = images.map((img) => {
                return {
                    rand:Math.random(),
                    src: img
                }
            })
            rands.sort((a,b) => {
                return a.rand-b.rand
            })
            let squared = Math.floor(Math.sqrt(rands.length))
            //make squared rows of squared columns
            let arrayToPass = []
            let randInc = 0
            for (let rowInc = 0; rowInc < squared; rowInc++) {
                for (let colInc = 0; colInc < squared; colInc++) {
                    randInc++
                    // console.log('randInc: '+randInc)
                    // console.log('rowInc: '+rowInc)
                    // console.log('colInc: '+ colInc)
                    let x = colInc * 64
                    let y = rowInc * 64
                    if (rowInc % 2 === 1) {
                        x +=32
                    }
                    arrayToPass.push({
                        x:x,
                        y:y,
                        src: `../assets/pngs/${rands[randInc].src}.png`
                    })
                }
            }
            //make options object
            let optionsObject = {
                width: squared * 64,
                height: squared * 64
            }
            console.log(arrayToPass)
            console.log(optionsObject)
        mergeImages(arrayToPass, optionsObject)
  .then(b64 => document.getElementById('destination-img').src = b64)
        </script>
    </head>
    <body>
        <img id="destination-img" />

    </body>
</html>